<h1>Welcom to the Stupid Coach</h1>
<p>You can ask the coach here</p>
<form action="/pages/answer">
  My question is:<br>
  <input type="text" name="Question" placeholder="Enter your question" >
  <br>
  <input type="submit" value="Submit">
</form>
